<<<<<<< HEAD:meAround/css/meAround_style.css
﻿ @font-face {font-family: 'Questrial';src: url('../fonts/Questrial-Regular.ttf') format('truetype');}
html, body { height: 100%; width: 100%;font-family: "Muli", "Adobe Blank";}
=======
 @font-face {font-family: 'Questrial';src: url('../fonts/Questrial-Regular.ttf') format('truetype');}
html, body { height: 100%; width: 100%;font-family: 'Questrial', sans-serif;}
>>>>>>> 50b6ac606dc924523297d6057850f4f4af526784:meAround/css/wc_style.css

.main-title-box{ margin-top: 20px;}
.main-title{color: #1d3941;}

.landing-page h1, .landing-page  h2, .landing-page h3, .landing-page h4, .landing-page h5 { color: #f7f6f6; margin-top: 0; }
.landing-page img { max-width: 83%; }

h1 {font-weight: 800;}
h2 {font-weight: 600;}
.important-word{font-weight:600; font-size:1.2em;}

/* padded section */
.pad-section {padding: 20px 0; }
.pad-section img {width: 100%;}

/* vertical-centered text */
.text-vcenter {display: table-cell;text-align: center;vertical-align: middle;}
.text-vcenter h1 {font-size: 4.5em;font-weight: 700;margin: 0;padding: 0;}

/*--Spaces--*/
.spacer-xsmall { margin-top:8px;margin-bottom:8px; }
.spacer-small { margin-top:20px;margin-bottom:20px; }
.spacer-medium { margin-top: 40px; }

/*--Image formating--*/
.img-center {margin:0 auto;}
.img-responsive {margin: 0 auto auto;}
.center-block {display: block;margin-left: auto;margin-right: auto;}
.no-padding { padding: 0 !important; margin: 0 !important; }
.row-text-image{display: -webkit-box;padding-left:-15px;}
.cursor-pointer{cursor: pointer;}


/*--Text color and alignment--*/
.text-align-right {text-align: right;}
.text-align-left {text-align: left;}
.text-align-center {text-align: center;}
.text-align-justify {text-align: justify;}
.text-bold { font-weight: bold; }
.text-italic { font-style:italic; }

/*--Logo--*/
.logo{width: 120px;}

/*--Footer--*/
.footer{width:100%;min-height:40px;background-color: initial;color:#B4B4B4; font-size:12px;}
.footer .container div[class*='col-'] {margin-top:10px;}
footer {padding: 20px 0;}
footer .glyphicon {color: #333333;font-size: 60px;}
footer .glyphicon:hover {color: #306d9f;}

/*--social media--*/
.social-roll {height: 50px;width: 50px;margin: 10px;border-radius: 50%;-webkit-transition: all ease 0.3s;-moz-transition: all ease 0.3s;-o-transition: all ease 0.3s;-ms-transition: all ease 0.3s;transition: all ease 0.3s;margin:0px;}
.social-roll img { max-width: 35px; max-height: 35px; }

/*--Buttons-->*/
.btn-sample { color: #F2EFEF; background-color: #11669E; border-color: #959C9E; }
.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample { color: #F2EFEF; background-color: #5D86A6; border-color: #959C9E; }
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample { background-image: none; }
.btn-sample .badge { color: #11669E; background-color: #F2EFEF; }


.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.panel-title{font-size: 22px !important; font-weight: bold;}


.strategy-icon{max-height: 180px;max-width: 200px;}

/* additional sections */
#registration{background: rgba(222,166,38,1);}
.registration-title{color: #ffffff;}
.registration-text{font-size: 18px;color: #ffffff;}
.registration-form-text{font-size: 18px;}
#volunteers{background-color: #f6ecd4;color: #000000;}
#volunteers img {height: 140px;max-height: 140px;width:140px;max-width: 140px;}
#volunteers img h4 {padding: 10px;}
.volunteers-title{color: #000000;}
<<<<<<< HEAD:meAround/css/meAround_style.css

#header { background: url(../images/strategy.png)  /* rgba(227,209,12,1); rgba(234,227,2,0.7);*/}
#section1 {background: url(../images/meAroundBackground.png) no-repeat center center fixed; display: table;height: 650px;position: relative;width: 100%;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
#section2 {background: url(../images/solution-background.png) no-repeat center center fixed; display: table;height: 650px;position: relative;width: 100%;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
#section3 {background: url(../images/strategy.png) no-repeat center center fixed; display: table;height: 650px;position: relative;width: 100%;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
#section4 {background: url(../images/floor1.png) no-repeat center center fixed; display: table;height: 650px;position: relative;width: 100%;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}

/*
rgba(4,57,223,0.8);

{background-color: #0437ef; opacity: 0.5;
    filter: alpha(opacity=50); no-repeat center center fixed; display: table;height: 650px;position: relative;width: 100%;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
{background: url(../images/meAroundBackground.png) no-repeat center center fixed; display: table;height: 650px;position: relative;width: 100%;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;} */
#section1 .panel {opacity: 0.85;}
=======
#mision {background: url(http://mearound.github.io/meAround/images/meAroundBackground.png) no-repeat center center fixed; display: table;height: 650px;position: relative;width: 100%;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
#mision .panel {opacity: 0.85;}
>>>>>>> 50b6ac606dc924523297d6057850f4f4af526784:meAround/css/wc_style.css
